.header {
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: white;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("../img/background_header.png");
  padding-top: 25px;
}

.header__wrapper {
  margin-left: 15px;
}